<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <%posts.forEach(function(post){%>
        <h1><%=post.postT%></h1>
        <h1><%=post.postC%></h1>
        <h1><%=post.discription%></h1>
        <h1><%=post.spec%></h1>
        <h1><%=post.postedBy.username%></h1>
        <h1><%=post.createdAt.toDateString()%></h1>
        <!-- <img src="/<%=post.image1%>" alt="image"> -->
        <a href="/post/<%=post._id%>">Details</a>
        <h1><%=post.likes.length%></h1>

        
   <% })%>
  <button><a href="/logout">Logout</a></button>
</body>
</html>